In [1]:
import pandas as pd

In [2]:
student= pd.read_csv('study_habits.csv')

In [3]:
student

,Study Hours,Sleep Hours,Social Media,Attendance,Past Avg Score,Final Score
0,3.85,4.46,4.65,94.10,58.48,90.41
1,1.39,7.14,4.72,95.89,52.75,74.34
2,6.52,5.57,3.75,89.37,50.61,114.94
3,3.01,5.66,2.87,75.48,81.90,93.72
4,4.15,7.85,4.24,97.61,83.77,115.23
...,...,...,...,...,...,...
9995,7.39,6.09,4.27,75.78,50.31,119.11
9996,5.25,4.00,3.62,89.17,62.15,103.60
9997,1.70,8.10,1.11,74.48,52.34,80.66
9998,4.79,8.06,2.45,91.47,68.82,117.37
9999,1.36,3.23,2.04,87.11,90.32,80.17

In [10]:
student.loc[student['Final Score']>100,['Study Hours','Past Avg Score']].head(10)

    Study Hours  Past Avg Score
2          6.52           50.61
4          4.15           83.77
6          4.68           55.63
8          6.44           78.21
9          5.80           58.46
10         7.87           91.74
11         5.21           91.33
12         6.70           91.81
13         5.96           76.04
15         7.33           81.30

In [12]:
student.describe()

,Study Hours,Sleep Hours,Social Media,Attendance,Past Avg Score,Final Score
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.528267,5.989538,2.491706,75.330169,74.045352,105.956914
std,2.020493,1.735532,1.432755,14.393950,13.970086,20.369333
min,1.000000,3.000000,0.000000,50.010000,50.000000,49.630000
25%,2.790000,4.500000,1.240000,63.040000,61.827500,89.997500
50%,4.540000,5.980000,2.500000,75.425000,74.185000,105.960000
75%,6.260000,7.472500,3.730000,87.710000,86.332500,121.875000
max,8.000000,9.000000,5.000000,100.000000,97.990000,160.550000

In [13]:
student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Study Hours     10000 non-null  float64
 1   Sleep Hours     10000 non-null  float64
 2   Social Media    10000 non-null  float64
 3   Attendance      10000 non-null  float64
 4   Past Avg Score  10000 non-null  float64
 5   Final Score     10000 non-null  float64
dtypes: float64(6)
memory usage: 468.9 KB

In [14]:
student.corr()

,Study Hours,Sleep Hours,Social Media,Attendance,Past Avg Score,Final Score
Study Hours,1.000000,-0.016145,0.000217,-0.004801,0.010574,0.890459
Sleep Hours,-0.016145,1.000000,-0.005978,0.000840,0.004474,0.243458
Social Media,0.000217,-0.005978,1.000000,-0.004970,-0.009636,-0.145725
Attendance,-0.004801,0.000840,-0.004970,1.000000,-0.003950,0.207557
Past Avg Score,0.010574,0.004474,-0.009636,-0.003950,1.000000,0.285451
Final Score,0.890459,0.243458,-0.145725,0.207557,0.285451,1.000000